asgiref==3.8.1
boto3==1.4.8
botocore==1.8.3
certifi==2018.1.18
chardet==5.2.0
charset-normalizer==3.4.2
click==6.7
colorama==0.2.5
dj-database-url==0.4.2
Django==5.1.7
django-cors-headers==4.7.0
django-forms-bootstrap==3.1.0
django-storages==1.6.5
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
docutils==0.14
gunicorn==21.2.0
html5lib==0.999
idna==2.6
jmespath==0.9.3
olefile==0.44
packaging==25.0
pillow==10.4.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.6.1
pytz==2021.1
requests==2.32.3
s3transfer==0.1.11
schedule==0.5.0
six==1.5.2
sqlparse==0.4.1
stripe==12.0.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wheel==0.24.0
whitenoise==6.9.0
